@import "tailwindcss";

@theme {
  --font-heading: "Plus Jakarta Sans", sans-serif;
  --font-body: "Inter", sans-serif;
  /* PRIMARY */
  --color-primary-50: #dcfff1;
  --color-primary-100: #baf3db;
  --color-primary-200: #97edc9;
  --color-primary-300: #7ee2b8;
  --color-primary-400: #4bce97;
  --color-primary-500: #2abb7f;
  --color-primary-600: #22a06b;
  --color-primary-700: #1f845a;
  --color-primary-800: #216e4e;
  --color-primary-900: #164b35;
  --color-primary-950: #1c3329;

  /* SECONDARY */
  --color-secondary-50: #fff9eb;
  --color-secondary-100: #ffecc6;
  --color-secondary-200: #fed989;
  --color-secondary-300: #febf4b;
  --color-secondary-400: #fda622;
  --color-secondary-500: #f68909;
  --color-secondary-600: #db5e04;
  --color-secondary-700: #bd5b00;
  --color-secondary-800: #94300c;
  --color-secondary-900: #79280e;
  --color-secondary-950: #461202;
}

.container {
  @apply max-w-300 mx-auto px-4;
}

.eyebrow {
  @apply inline-block text-sm uppercase tracking-[0.32em] text-primary-500 sm:text-base;
}

@layer base {
  body {
    font-family: var(--font-body);
    color: var(--color-text-primary);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    font-weight: 700;
  }
  h1 {
    font-size: clamp(2rem, 1.85vw + 1.63rem, 3rem);
    line-height: 1.1;
  }

  h2 {
    font-size: clamp(2rem, 1.15vw + 1.77rem, 2.75rem);
    line-height: 1.125;
  }

  h3 {
    font-size: clamp(1.75rem, 0.85vw + 1.58rem, 2.25rem);
  }

  h4 {
    font-size: clamp(1.5rem, 0.7vw + 1.36rem, 1.875rem);
  }

  h5 {
    font-size: clamp(1.25rem, 0.45vw + 1.16rem, 1.5rem);
  }

  h6 {
    font-size: clamp(1.125rem, 0.3vw + 1.06rem, 1.25rem);
  }
}

@layer components {
  .heading-hero {
    font-size: clamp(2.5rem, 4vw, 4rem);
    line-height: 0.95;
    letter-spacing: -0.03em;
  }

  .section {
    @apply py-12 md:py-24 lg:py-32;
  }

  .section-sm {
    @apply py-12 md:py-16 lg:py-20;
  }

  .section-lg {
    @apply py-16 md:py-24 lg:py-32;
  }
}
